ion-content ion-toolbar {
  --background: translucent;
}

.toolbar-bg{
  --background: linear-gradient(180deg, rgba(79,128,99,1) 0%, rgba(60, 148, 98, 1) 10%, rgba(37, 172, 95, 1) 30%, rgba(28,183,91,1) 100%) !important;
}

.top-padding{
  padding-top: 0px
}